.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 68px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #0d2e88;
  font-size: 48px;
  line-height: 36px;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 150%;
  font-weight: 600;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #0d2e88;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 500;
}

.hero-section.section-padding {
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

._2-col-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  margin-bottom: 0px;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-col-grid.lucrari {
  margin-top: 60px;
  margin-bottom: 0px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.content-wrapped {
  text-align: left;
}

.heading {
  color: #0d2e88;
  line-height: 120%;
}

.short-p {
  max-width: 487px;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  color: #6b6b6b;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #008837;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.button:hover {
  border: 2px none #008837;
  background-color: #0d2e88;
  color: #fff;
}

.button.cta {
  margin-top: 40px;
}

.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: transparent;
}

.navlink {
  padding: 0px;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  font-family: Montserrat, sans-serif;
  color: #6b6b6b;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
}

.navlink:hover {
  color: #0d2e88;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #0d2e88;
  font-size: 24px;
  line-height: 150%;
  font-weight: 500;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-decoration: none;
}

.text-span {
  color: #028739;
}

.results {
  margin-top: 0px;
  background-color: #028739;
}

.nav-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.hero {
  margin-top: 0px;
}

._3-col-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

._3-col-grid.specialisti {
  margin-top: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

._3-col-grid.servicii {
  margin-top: 60px;
  margin-bottom: 0px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.formular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.paragraph {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.despre-noi {
  margin-top: 200px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.h2 {
  margin-bottom: 0px;
  text-align: left;
}

.h2.despre {
  margin-bottom: 40px;
}

.resultate {
  margin-top: 140px;
}

.section-padding {
  padding-right: 30px;
  padding-left: 30px;
}

.speciali-tii-no-tri {
  margin-top: 200px;
}

.grid-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.specialist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #0d2e88;
  line-height: 150%;
  font-weight: 600;
}

.serviciile-noastre {
  margin-top: 200px;
}

.serviciu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 470px;
  max-width: 367px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.image {
  margin-top: -40px;
}

.paragraph-2 {
  height: 150%;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.servicii-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-right: 38px;
  padding-left: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.lucrarile-noastre {
  margin-top: 200px;
}

.grid-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lucrare {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.heading-7 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.recenzii {
  margin-top: 200px;
}

.recenzie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 560px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.persoana {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.nume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.heading-8 {
  margin-top: 0px;
}

.contact {
  margin-top: 200px;
}

.grid-4 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field {
  max-width: 463px;
  padding: 25px 100px 25px 30px;
  border: 2px solid #afafaf;
  border-radius: 10px;
  background-color: #e0e0e0;
  font-family: Montserrat, sans-serif;
  color: #028739;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.text-field:focus {
  border-color: #0d2e88;
  background-color: #f1f1f1;
}

.text-field:focus-visible {
  color: #028739;
}

.text-field[data-wf-focus-visible] {
  color: #028739;
}

.text-field::-webkit-input-placeholder {
  color: #028739;
}

.text-field:-ms-input-placeholder {
  color: #028739;
}

.text-field::-ms-input-placeholder {
  color: #028739;
}

.text-field::placeholder {
  color: #028739;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.numar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.footer {
  margin-top: 200px;
  background-color: #028739;
}

._4-col-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-2 {
  max-width: 226px;
}

.footer-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-3 {
  max-width: 226px;
}

.image-4 {
  margin-bottom: 20px;
}

.footer-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  text-decoration: none;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.footer-contact-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.info-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div-block {
  height: 10px;
  max-height: 10px;
  background-color: #0d2e88;
}

.blue-bar {
  height: 15px;
  background-color: #0d2e88;
}

.success-message {
  background-color: #028739;
}

.text-block {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 150%;
  font-weight: 500;
}

.error-message {
  margin-top: 20px;
}

.text-block-2 {
  padding: 10px;
  font-family: Montserrat, sans-serif;
  color: #8d0000;
  font-size: 22px;
  font-weight: 500;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999999;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (max-width: 991px) {
  .hero-section.section-padding {
    padding-right: 30px;
    padding-left: 30px;
  }

  ._2-col-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid.lucrari {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid.acasa {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .heading {
    font-size: 50px;
  }

  .navlink {
    margin-bottom: 20px;
    color: #fff;
  }

  .nav-menu {
    padding: 40px 20px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    background-color: #008837;
  }

  .heading-2 {
    color: #fff;
  }

  .link-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .nav-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    grid-column-gap: 400px;
    grid-row-gap: 400px;
  }

  ._3-col-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  ._3-col-grid.servicii {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .formular {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .despre-noi.section-padding {
    padding-left: 20px;
  }

  .h2 {
    margin-bottom: 60px;
    font-size: 40px;
  }

  .resultate {
    margin-top: 100px;
  }

  ._4-col-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 120px;
    grid-row-gap: 120px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  ._2-col-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid.acasa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .short-p {
    max-width: 420px;
  }

  .navlink {
    margin-bottom: 20px;
    color: #fff;
  }

  .nav-menu {
    padding: 40px 20px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    background-color: #008837;
  }

  .heading-2 {
    color: #fff;
    font-size: 18px;
  }

  .link-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .results {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column-gap: 220px;
    grid-row-gap: 220px;
  }

  ._3-col-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  ._3-col-grid.specialisti {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 40px;
    line-height: 120%;
  }

  ._2-col-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  ._2-col-grid.lucrari {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .navlink {
    margin-bottom: 20px;
    color: #fff;
  }

  .nav-menu {
    padding: 40px 20px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    background-color: #008837;
  }

  .heading-2 {
    color: #fff;
    font-size: 18px;
  }

  .link-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .nav-content {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  ._3-col-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._3-col-grid.specialisti {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  ._3-col-grid.servicii {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .despre-noi.section-padding {
    margin-top: 140px;
  }

  .h2 {
    margin-bottom: 40px;
  }

  .resultate {
    margin-top: 100px;
  }

  .speciali-tii-no-tri.section-padding {
    margin-top: 140px;
  }

  .serviciile-noastre.section-padding {
    margin-top: 140px;
  }

  .heading-6 {
    font-size: 20px;
    text-align: center;
  }

  .lucrarile-noastre.section-padding {
    margin-top: 140px;
  }

  .heading-7 {
    font-size: 20px;
  }

  .recenzii.section-padding {
    margin-top: 140px;
  }

  .persoana {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .nume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-9 {
    text-align: center;
  }

  .paragraph-3 {
    text-align: center;
  }

  .paragraph-4 {
    text-align: center;
  }

  .contact.section-padding {
    margin-top: 140px;
  }

  ._4-col-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-b0fcea16-cb5c-ef64-2d1c-b10fcf980454-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e57e0e1a-f06a-9ca6-167c-3f1c66ec3ac2-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5a304341-d6fe-0a83-7960-6abd0c514fe3-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_773249ed-279f-c776-64cb-58c7a91b103a-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cc4803d7-ae41-d377-5bfa-2590be2a4977-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3a0ced4-cc65-6964-2a60-1a6d77e88258-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_25070434-79cb-5a9b-064d-2219e556b8a0-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7f67dd3c-a500-a075-8d50-c851dc24de2d-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6697b200-6037-463a-432c-1076567f11b6-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fe9da73e-1dfb-1839-307a-663fb3db4604-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-be002bb7-c56b-389e-ae74-875736937a9d-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_559de9f9-ea5f-3454-1d59-f986058c812f-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2ceb3c9d-b602-067d-fa07-daecb90c4718-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_372859a4-2bed-a09f-a222-3455e856e143-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_76afc1cd-2505-1320-baf6-8b9773f8e5ce-6e37e6a5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}